<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336879357798-816utsaqtd1iikmfepc7htco091okmnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336879357798-816utsaqtd1iikmfepc7htco091okmnc</string>
	<key>API_KEY</key>
	<string>AIzaSyBWEXSXydFnnk5bgPGLpoPdEi3SwBFXqTE</string>
	<key>GCM_SENDER_ID</key>
	<string>336879357798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>insta-flutter-658ab</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-flutter-658ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336879357798:ios:1df2a114d48ffd075982a7</string>
</dict>
</plist>